.header {
  display: flex;
  position: relative;
  align-items: center;
  height: 10vh;
  padding: 0px 25px;
  background: #fafafa;
  border-bottom: 2px solid #e5eaef;
  justify-content: space-between;
}
h2 {
  font-size: 20px;
  font-style: normal;
  font-weight: 600;
  line-height: 28px; /* 140% */
}
.header_nav_Item {
  display: flex;
  align-items: center;
  /* justify-content: center; */
}
input,
input::placeholder {
  font-family: "Inter";
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
}

.search-container {
  /* position: relative; */
  display: flex;
  align-items: center;
  padding: 3px 10px;
  gap: 5px;
  height: 48px;
  width: max-content;
  border-radius: 24px;
  border: 1px solid #dadddd;
  background: var(--Neutral-White, #fff);
}

input {
  border: none;
}
